.item {
  background: linear-gradient(
    119deg,
    #9577f2 32.03%,
    rgba(160, 133, 247, 0.83) 88.08%
  );
}

.parent {
  position: relative;
}
.arrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
